body * {
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
    padding:0;
}

#container {
    min-width: 800px;
    margin: 0 auto;
    /* display: flex; */
}

#navbar {
    display:flex;
    height: 55px;
    width: 50em; 
    background-color: rgb(209, 237, 237, 0.28);
    border-radius: 4px;
    margin: 0 auto;
    border: 1px solid #304a4b17;
    /* text-align: center; */
}

ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 7px 0 0 0;
    /* margin: 0 0 0 7px; */
}

#navbar li {
    display:flex;
    float: left;
    border-right: 1px solid rgba(0, 0, 0, 0.063);
}

#navbar li a {
    color: #000000;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    text-decoration: none;
    width: 9.5em;
    height: 30px;
    display: block;
    border-radius: 5px;
    padding-top: 12px;
    transition: all 0.15s;
}

#navbar ul li:last-child {
    border-right: none;
}

#navbar li a:hover {
    background-color: hsla(157, 6%, 43%, 0.054);
    transition: all 0.15s;
}

#navbar li a:visited {
    color: #000;
}

.box-class {
    width: 50em;
    height: auto;
    background-color: rgb(209, 237, 237, 0.28);
    margin: 5px auto;
    border-radius: 4px;
    border: 1px solid #304a4b1b;
}

.box-title-class {
    text-align: center;
    margin: 15px auto;
    color: #000000;
    font-size: 2em;
    font-family: 'Courier New', Courier, monospace;

    width: 95%;
    padding-top: 5px;
    border-top: 1px solid #304a4b1b;
    border-bottom: 1px solid #304a4b1b;
    /*background-color: rgba(209, 237, 237, 0.261);*/
}

.box-content {
    margin: 17px;
    padding: 2px;
    height: auto;
    /* border: 1px solid #304a4b1b; */
}

.hidden {
    display:none;
}

#dialog {
    background-color: rgba(213, 235, 235, 0.282);
    border-color: rgb(1, 5, 5) !important;
    box-shadow: 3px 3px 15px rgba(32, 45, 70, 0.445);
}

.button {
    display:block;
    padding:0.5em 1.2em;
    border:0.1em solid #0000006e;
    margin: 10px auto;
    border-radius:0.8em;
    box-sizing: border-box;
    text-decoration:none;
     font-family:'Roboto',sans-serif; 
    font-weight:500;
    color:#000000;
    text-shadow: 0 0.09em 0.09em rgba(0, 0, 0, 0.152);
    background-color:#80caed36;
    text-align:center;
    transition: all 0.15s;
    border-radius: 2px;
    box-shadow: 1px 1px 5px rgba(36, 86, 119, 0.234);
}

.button:hover {
    background-color:#4095c652;
    cursor:pointer;
}

.button:active {
    background-color:#4095c683;
}

/* *********************************** Add Hotspot Button *************************** */
/* just the button itself */
.add-hotspot-button {
    background-color:#80caed17;
    border-color: #0000002f;
    font-size: 1.1em;
    margin-top: 4%;
    color: #0b6b4646;
    box-shadow: 1px 1px 5px rgba(36, 86, 119, 0.118);
    text-shadow: 0 0.09em 0.09em rgba(0, 0, 0, 0.063);

}

/* the actual databox that contains the add hotspot button */
#addHotspotButton {
    color: auto;
}

/* ********************************************************************************** */

/* Data box class for displaying
 * short pieces of info */
.dataBox {
    width: 25%;
    min-height: 4em;
    padding: 5px;
    /* float: left; */
    
    background-color: rgba(209, 232, 237, 0.33);
    margin: 5px 10px 5px 0; 
    border-radius: 4px;
    border: 1px solid #0c33342b;

    text-align: center;
    font-size: 17px;
    line-height: 30px;

    float: left;
 }

 #loadWeatherButton {
     display: block;
     margin: -10px auto 20px auto;
 }

 #reloadHeliumAPIButton {
    display: block;
    margin: -10px auto 20px auto;
}

#dataBoxesDiv {
     /* border: 1px solid black; */
     margin: 0 auto !important;
     text-align: center;
     
 }

p.small-text {
    font-size: 0.7em;
}

p.tiny-text {
    font-size: 0.4em;
}

.data-box-header {
    margin-top: 0;
    margin-bottom: -10px;
    /* font-size: 0.8em; */
}

/* .input-label {
    text-align: left;
} */

.dataBox label {
    display: block;
    text-align: left;
    margin-left: 0.45em;
    font-size: 0.9em;
    font-weight: bold;
    margin-bottom: -0.2em;
}

.input-field-name{
    padding: 3px;
    margin: auto 0.52em;
}


.input-field-addr {
    padding: 3px;
    margin: auto 0.52em;
    margin-bottom: 10px;
}

/* *************** Load Address from Name Link ***************** */
.input-field-get-addr-link {
    display: block;
    font-size: 0.7em;
    text-align: left;
    margin: -1.2em 0 0 0.6em;
    color: rgb(19, 58, 184);;
}

.input-field-get-addr-link:visited {
    color: rgb(19, 58, 184);;
}


#blockchainAddrLabel {
    font-size: 0.75em;
    margin-bottom: -0.6em;
}

/* Clearer div */

.clear {
    clear:both;
}